.cart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 70vh;
    gap: 3rem;
    padding: 1rem 0 2rem 0;
}

.product-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
}

.title-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(196, 195, 181);
}

.delete-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 1rem;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.quantity-text {
    width: 25%;
}

.total-text {
    width: 20%;
}

.product-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.cart-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 1rem;
}

.buy-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.cart-btn {
    color: rgb(247, 244, 205);
    background-color: black;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    border: 1px solid rgb(156, 156, 156);
    transition: box-shadow 0.3s ease;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.cart-btn:hover {
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    transform: scale(1.025);
}

@media (max-width: 768px) {
    .title-container {
        display: none;
    }

    .product-text,
    .quantity-text,
    .total-text,
    .product-info {
        text-align: center;
        width: auto;
    }

    .product {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .cart-item {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}