.item-button{
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    transition: transform 0.5s ease-in-out;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.2rem 0.5rem;   
    cursor: pointer; 
}

.item-button:hover {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}