.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 75vh;
    gap: 1rem;
    padding: 1rem 0 2rem 0;
}