.detail-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    min-height: 95vh;
    gap: 2rem;
    border: 3.5px solid rgb(196, 195, 181);
    border-radius: 2rem;
}

.detail-image {
    width: 300px;
    height: 350px;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
    border-radius: 2rem;
}

.detail-image:hover {
    transform: scale(1.1);
}

.detail-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35rem;
    min-height: 25rem;
    gap: 1rem;
}

h2.title,
.detail-description {
    width: 95%;
    text-align: justify;
    white-space: normal;
    overflow-wrap: break-word;
}

.detail-price {
    font-size: xx-large;
    font-weight: 600;
}

@media (max-width: 767px) {
    .detail-card {
        flex-direction: column;
        width: 90%;
        padding: 2rem 0;
    }

    .detail-data {
        align-items: center;
        justify-content: center;
    }

    h2.title {
        text-align: center;
        width: 50%;
    }

    .detail-description {
        width: 50%;
    }

    .detail-image {
        width: 275px;
        height: 300px;

    }
}