.item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 0.5rem;
}

.mensaje {
    margin-top: 1rem;
}

.products-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 2rem;
    width: 60%;
    gap: 1rem;
}


@media (max-width: 768px) {
    .products-layout {
        flex-direction: column;
        align-items: center;
    }

    .items {
        align-items: center;
        justify-content: center;
        align-content: stretch;
    }
}