.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 16rem;
    border: 2px solid rgb(206, 206, 206);
    padding: 1rem 0.5rem;
    border-radius: 7.5px;
    transition: transform 0.2s ease-in-out;
    gap: 0.25rem;
}

.product-card:hover{
    transform: scale(1.04);
}

.product-image{
    width: 10rem;
    height: 10rem;
    margin-bottom: auto;
    object-fit: cover;
}

h3{
    text-align: center;
}