header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 6rem;
}

.logo{
    width: 150px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}