header{
    display: flex;
    flex-direction: column;
}

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
}

.logo{
    width: 150px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.categories{
    display: flex;
    width: 100%;
    height: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.category-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    gap: 1rem;
    padding: 0;

}   

.category-item{
    list-style: none;
}

.category-link{
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.category-link:hover{
    border-bottom: 2px solid rgb(46, 46, 46);
}