header {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem 0 4rem;
}

.logo {
    width: 130px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.categories {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.category-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 1rem;
    padding: 0;
}

.category-item {
    list-style: none;
}

.category-link {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.category-link:hover {
    border-bottom: 2px solid rgb(46, 46, 46);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hamburger-btn {
    display: none;
}

@media (max-width: 768px) {
    .header {
        align-items: flex-end;
        padding-bottom: 1rem;
    }

    .header.closed{
        background-color: transparent;
        padding-bottom: 0;
    }
    .category-list {
        display: flex;
        flex-direction: flex-end;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0 1.5rem 0 0;
        width: 80%;
        gap: 1rem;
    }

    .categories {
        padding-bottom: 0.5rem;
        width: 132px;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    div.main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 1.5rem 0 1.5rem;
        min-width: 90%;        
    }

    .hamburger-btn {
        display: flex;
        border: none;
        align-self: flex-end;
        background-color: transparent;
        padding: 0;
    }

    .category-list.open {
        display: flex;
        flex-direction: flex-end;
        justify-content: flex-end;
        align-items: center;
        width: 132px;
        margin: 0;
        padding: 0 1.5rem 0 0;
    }

    .category-link {
        align-self: flex-end;
        width: 90%;
    }

    .menu-item {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.2s ease;
    }

    .category-list.open .menu-item {
        max-height: 50px;
        opacity: 1;
    }  

    .header{
        background-color: rgb(224, 224, 224);
    }

    .header{
        transition: background-color 0.3s ease;
    }
}