.filter-container {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(196, 195, 181);
    border-radius: 0.25rem;
    width: 11rem;
    height: 18rem;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;

}