.filter-container {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(196, 195, 181);
    border-radius: 0.25rem;
    width: 15%;
    height: 18rem;
    margin: 3% 0;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;

}

.form-range{
    width: 90%;
}

label.form-label{
    align-self: center;
}