.filter-container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    height: 100vh;
    gap: 1rem;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid rgb(196, 195, 181);
    border-radius: 0.25rem;
    width: 10rem;
    height: 18rem;
    margin: 3% 0;
    padding: 1rem;

}

.form-range {
    width: 90%;
}

label.form-label {
    align-self: center;
}

@media (max-width: 768px) {
    .filter-container {
        height: auto;
    }

    .filter-form{
        border: none;
        height: auto;
    }
}