footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    background-color: rgb(0, 0, 0);
    gap: 0.5rem;
}

.footer-text{
    color: white;
    text-align: center;
}

.footer-info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.technologies{
    width: 32px;
    object-fit: cover;
}

.buildt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}