nav {
    display: flex;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 1.5rem;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    border-bottom: 2px solid black;

}

.cart {
    width: 2rem;
    height: 2rem;
    transition: transform 0.5s ease;
}

.cart:hover {
    transform: scale(1.1);
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}




@media (max-width: 768px) {
    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .menu-item {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.2s ease;
    }

    .nav-items.open {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
    }

    .nav-item.menu-item.first{
        order: 1;
    }

    .nav-item.menu-item.second{
        order: 2;
    }

    .nav-items.open .menu-item {
        max-height: 50px;
        opacity: 1;
    }
}